<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/static/styles.css">

<title>SANA Health</title>


<title>Hello, world!</title>
</head>

<body>


  <img class = 'health img-fluid ' src = '/static/HealthCare_Logo.jpg'>

<div class = "container">
<div class = " test jumbotron"></div>

  </div>



<!-- horizontally centers whatever is inside of it -->
<!-- m = margin, t = top, 4 is how big we want the margin to be (5 is the biggest, 1 is the smallest) -->
<div class = "test container-fluid mt-4">
  </div>
    <!--
         jumbotron aligns our header text, and gives us
         a nice gray background
     -->

      <div class = "row">

          <div class = "col col-lg-1">
          <img class = whithe space>
        </div>

<div class ='container-6'>
            <div class = "col col-lg-10">
        <h1 style="color:grey">Your drug therapy recommender </h1>
        <h5 style="color:grey">AI-powered healthcare</h5>
      </div>

<div class="row">


          <div class="input-group col-lg-6">
  <div class="input-group-prepend">
    <span class="input-group-text" id="halos">Conditions to compare</span>
  </div>
  <form  action="/" method="POST">

  <input name="condition" type="text" class="form-control">
</form>

</div>
<h4 style="color:grey"> Did you mean {{drugs[9]}}?</h4></div></div>
<div class = "col col-lg-1">

<img class = whithe space>
</div>


<div class ='container-10'>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Drug</th>
      <th scope="col">SideEffect</th>
      <th scope="col">Effectiveness</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{drugs[0]}}</td>
      <td>{{drugs[3]}}</td>
      <td>{{drugs[6]}}</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>{{drugs[1]}}</td>
      <td>{{drugs[4]}}</td>
      <td>{{drugs[7]}}</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>{{drugs[2]}}</td>
      <td>{{drugs[5]}}</td>
      <td>{{drugs[8]}}</td>
    </tr>
  </tbody>
</table>
</div>

</div>

</div>
</div>




















<!-- DO NOT TOUCH!!!!!! -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
